<div class="alert alert-default" *ngIf="dataTributos?.length == 0">
  <button aria-label="Close" class="close mat-button" data-dismiss="alert" mat-button="" type="button">
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <span><b> Info - </b> !No hay Tributos para configurar</span>
</div>
<div class="table-responsive">
  <table class="table"  *ngIf="dataTributos?.length > 0">
    <thead class="text-thead">
      <th>#</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let tributo of dataTributos | paginate: {itemsPerPage: 5, currentPage: pageNow}; let i = index;" >
        <td>{{i+1}}</td>
        <td>{{tributo.nombre}}</td>
        <td>
        <button class="btn btn-success btn-fab btn-round" type="button"  (click)="agregarTributo(tributo)">
          <i class="material-icons">add</i>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    *ngIf="dataTributos?.length >= 5"
    (pageChange)="pageNow = $event"
    responsive="true"
    previousLabel="Ant"
    nextLabel="Sgte"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
  >
  </pagination-controls>
</div>

